.post-preview {
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.5s;
}
.post-preview:hover {
  transition: all 0.3s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.01);
}
.post-preview p {
  margin: 0;
}
